.age-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.age-modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.confirm-button {
  padding: 10px 20px;
  background-color: #f15b29;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}
